body {
    background: url(../img/bg2.jpg);
    background-size: cover;
    font-family: 'Trirong', serif;
}

.countdown-container {
    background-color:rgb(240, 240, 240);
    height: 50vh;
    width: 50vw;
    border-radius: 5px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.countdown-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.countdown-content > h1 {
    font-size: 3rem;
}

.countdown-content > p {
    font-size: 1.5rem;
}

.countdown-content > span {
    font-size: 10rem;
}

.countdown-content > button {
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    padding: 5px 40px;
    background-color: rgb(130, 146, 231);
    color: white;
    font-family: 'Trirong', serif;
}

.countdown-content > button:hover {
    background-color: rgb(190, 201, 255);
}

.countdown-content > button:active {
    background-color: rgb(130, 146, 231);
}

.hidden {
    display: none;
}

.modal-container {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: rgb(120, 133, 199);
    width:45%;
    height:45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.modal > span {
    margin-top: 20px;
    font-size: 9rem;
}

.modal > p {
    font-size: 2rem;
    text-align: center;
    margin: 30px 40px 0 40px;
}